body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    
}


#cardlayout {
    background-color: hsl(216, 50%, 16%);
    width: 320px;
    height: 540px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    

}
#cardlayout:hover {
    box-shadow: 0 32px 64px 0 rgba(0,0,0,0.2);
  }

.card{
    position: relative;
    display: inline-block;
}

.nft_img {

    margin: 5%;
    border-radius: 5px;
    width:90%;
   
}

.card .img-top{
    display: none;
    margin: 5%;
    position: absolute;
    width: 288px;
    height: 288px;
    top: 0;
    left: 0;
    z-index: 98;
    background-color: turquoise;
    border-radius: 5px;
}

.card .img-view{
    display: none;
    position: absolute;
    top: 8.5em;
    left: 8.5em;
    z-index: 99;
    
}

.card:hover .img-top{
    opacity: 35%;
    display: inline;
   

}
.card:hover .img-view{
    display: inline;
   

}

.nft-details{
    margin: 5%;
}

.nft-title {
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    margin-bottom: 18px;
    font-weight: bold;
}
.nft-title:hover{
    color: hsl(178, 100%, 50%);
}

.nft-info {
    color: hsl(215, 51%, 70%);
    margin-bottom: 18px;
}
.inlinePriceDays{
    display: flex;
    justify-content: space-between;
}

.nft-price{
    color: hsl(178, 100%, 50%);
    font-weight: bold;
}

.ethereum-icon {
    height: 15px;
}

.clock-icon {
    height: 14px;
}
.nft-dayleft {
    color: hsl(215, 51%, 70%);
}

.hr-line {
    color: hsl(215, 32%, 27%);
    margin: 18px 0 18px 0;
}

.avatar-icon {
    height: 24px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 25px;
}

.bottom-info {
    display: flex;
    justify-content: flex-start;
}

.nft-creator-image {
    margin-right: 10px;
    
}
.nft-creator{
    display: flex;
    font-size: 14px;
    margin-top: 5px;
}


.creatorColor {
    color: hsl(215, 51%, 70%);
}

.creatorName{
    margin-left: 8px;
    color: hsl(0, 0%, 100%);
}

.creatorName:hover{
    color: hsl(178, 100%, 50%);
}